<!DOCTYPE html>
<html>
  
  <head>
    <title>History | TM</title>
    <link rel="stylesheet" href="../../asset/css/activityHistoryStyle.css" />
    <link rel="icon" type="image/png" href="../../asset/imgs/icon.png" />
  </head>

  <body>

    <div class="container">
      <h1>Task and Subtask Tracker</h1>

      <div id="taskList"></div>

        <section id="activityHistory">
          <h2>Activity History</h2>
          <button id="exportHistoryBtn">Export History as CSV</button>
          <ul id="historyLog"></ul>
        </section>

      </div>
    </div>

    <script src="../../asset/js/activityHistory.js"></script>

  </body>
</html>
